/* common.css

 * 
 */
.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.grey {
	background-color: #BBBBBB;
}

.green {
	background-color: #95FF9B;
}

.orange {
	background-color: #FEE594;
}

.greenColour{
	color: green;
	font-weight: bolder;
	font-size: 20;
}

.loginbtn{
	float:right;
    display: inline;
}

.content{
	margin-left:3%;
	margin-right:3%;
	margin-bottom:3%;
}

input .campo{
	width: 25px;	
}

.dropdown-toggle::after {
    display:none !important;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}




